In [1]:
#Input

In [2]:
Name=input("What's your name?")

What's your name? test

In [3]:
age=input("What's your age? :")

What's your age? : 00

In [7]:
#1)Write program to enter a number and display it's hex, octal and square root.

In [6]:
Num=input("Enter a number: ")
Num=int(Num)
print(f"Number is {Num}")
print('Number in hexa:', hex(Num))
print('Number in octal:', oct(Num))
print('Square root of Number:', Num**0.5)

Enter a number:  25

Number is 25
Number in hexa: 0x19
Number in octal: 0o31
Square root of Number: 5.0

In [8]:
#2)Write a Program to calculate area of triangle using heron's fromula

In [10]:
a=int(input("Enter the length of first side: "))
b=int(input("Enter the length of second side: "))
c=int(input("Enter the length of third side: "))
s=int((a+b+c)/2)
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("Area of triangle: ", area)

Enter the length of first side:  3
Enter the length of second side:  4
Enter the length of third side:  5

Area of triangle:  6.0

In [11]:
#3)Write a Program to calculate distance between two point

In [13]:
a=int(input("Enter the x cordinate of first point: "))
b=int(input("Enter the y cordinate of first point: "))
c=int(input("Enter the x cordinate of second point: "))
d=int(input("Enter the y cordinate of second point: "))
dist=(((a-c)**2)+((b-d)**2))**0.5
print(f"Distaance between two points: {dist}")

Enter the x cordinate of first point:  3
Enter the y cordinate of first point:  4
Enter the x cordinate of second point:  6
Enter the y cordinate of second point:  7

Distaance between two points: 4.242640687119285

In [15]:
#4)Write a Program to calculate addition, subtraction, division, multiplication of two floating point number

In [20]:
#4)Write a Program to calculate bill amount

In [21]:
a=float(input("Enter the first number: "))
b=float(input("Enter the second number: "))
print("Addition of two numbers: ", format((a+b),'.3f'))
print("Subtraction of two numbers: ", format((a-b),'.3f'))
print("Division of two numbers: ", format((a/b),'.3f'))
print("Multiplication of two numbers: ", format((a*b),'.3f'))

Enter the first number:  8.7
Enter the second number:  6.2

Addition of two numbers:  14.900
Subtraction of two numbers:  2.500
Division of two numbers:  1.403
Multiplication of two numbers:  53.940

In [22]:
#4)Write a Program to generate bill

In [26]:
qs=int(input("Enter Quantity sold: "))
pi=int(input("Enter Price per item: "))
ds=int(input("Enter Discount: "))
print((format('*','*>25')),'BILL',(format('*','*>25')))
print('*'*25,'BILL','*'*25)
print('************************* BILL *************************')
print("Quantity sold: ", qs)
print("Price per item: ", pi)
print(format('-','->56'))
print("Amount: ", qs*pi)
print("Discount: ", ds,"%")
print(format('-','->56'))
print("Discounted total: ", (qs*pi)*(100-ds)/100)
print("Tax: 5%")
print(format('-','->56'))
t=((qs*pi)*(100-ds)/100)*1.05
print("Total amount to be paid: ", t)

Enter Quantity sold:  5
Enter Price per item:  30
Enter Discount:  10

************************* BILL *************************
************************* BILL *************************
************************* BILL *************************
Quantity sold:  5
Price per item:  30
--------------------------------------------------------
Amount:  150
Discount:  10 %
--------------------------------------------------------
Discounted total:  135.0
Tax: 5%
--------------------------------------------------------
Total amount to be paid:  141.75

In [27]:
#5)Write a Program to calculate student's result based on two exam, 1 sport event, 3 activities. Weightage of activities 30%, sports 20%, exam 50%

In [34]:
e1=float(input("Enter the marks of first exam out of 100: "))
e2=float(input("Enter the marks of second exam out of 100: "))
s=float(input("Enter the marks of sport event out of 100: "))
a=float(input("Enter the marks of first activity out of 100: "))
b=float(input("Enter the marks of second activity out of 100: "))
c=float(input("Enter the marks of third activity out of 100: "))
e=((e1+e2)/2)*0.5
sp=s*0.2
act=((a+b+c)/3)*0.3
print('Total percentage of Activity out of 30: ',act,'%')
print('Total percentage of Sport out of 20: ',sp,'%')
print('Total percentage of Exam out of 50: ',e,'%')
print('Total percentage of Semester out of 100 : ',e+sp+act,'%')

Enter the marks of first exam out of 100:  90
Enter the marks of second exam out of 100:  95
Enter the marks of sport event out of 100:  85
Enter the marks of first activity out of 100:  85
Enter the marks of second activity out of 100:  90
Enter the marks of third activity out of 100:  95

Total percentage of Activity out of 30:  27.0 %
Total percentage of Sport out of 20:  17.0 %
Total percentage of Exam out of 50:  46.25 %
Total percentage of Semester out of 100 :  90.25 %

In [42]:
#6)Write a Program to convert fahrenhite to degree celsius

In [41]:
F=float(input("Enter temperature in fahrenhite: "))
C=(F-32)*(5/9)
print("Temprature in celsius: ", C)

Enter temperature in fahrenhite:  98.6

Temprature in celsius:  37.0

In [43]:
#7)Write a Program to calculate total amount of money in piggybank given count of Rs. 10,5,2,1

In [45]:
a=int(input("Enter the count of Rs 10: "))
b=int(input("Enter the count of Rs 5: "))
c=int(input("Enter the count of Rs 2: "))
d=int(input("Enter the count of Rs 1: "))
print("Total amount: ", 10*a+5*b+2*c+d)

Enter the count of Rs 10:  5
Enter the count of Rs 5:  6
Enter the count of Rs 2:  3
Enter the count of Rs 1:  9

Total amount:  95